<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <div class="messages">
        <div class="message">
          <div class="user">
            <div class="icon">icon</div>
            <div>
              <div class="fullname">Admin</div>
              <div class="user-info">
                <p class="username">@adminredjeacs</p>
                <p class="timestamp">*11-03-2025</p>
              </div>
            </div>
          </div>
          <h3 class="title">title</h3>
          <p class="text">a bunch of texts</p>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
