*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

html {
  height: 100%;
}

/* Nav */

nav {
  max-width: 960px;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 25%,
    #ffffff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0 auto;
  padding: 1rem 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

/* Footer */

footer {
  position: static;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
}

/* Messages */

.messages {
  display: grid;
  grid-template-columns: clamp(300px, 600px, 80%);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 20px;
}

.messages > div {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.message {
  position: relative;
}

.user {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.user-info {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 0);
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
  }
}
